#planetPage .row {
    margin: 0 !important;
    padding: 0 !important;
}

#planetPage form {
    display: inline-flex !important;
    margin-right: 10% !important;
}

#planetPage .navbar-brand {
    margin-left: 5% !important;
    font-weight: 700 !important;
    letter-spacing: 1ex;
}

#planetPage .form-control {
    margin-right: 10px !important;
}

#planetPage .list-item-container {
    display: flex;
    justify-content: space-between;
    background-color: #42a0a8;
    border-radius: 5px;
    padding: 8px
}

#planetPage .list-title {
    font-weight: 500 !important;
}

#planetPage .value {
    border: none;
    outline: none !important;
    color: lightgoldenrodyellow;
    border-radius: 5px;
}

#planetPage .namePlan {
    font-weight: 600;
}